.main-content{
    padding: 30px 30px 0 75px;
    gap: 12px;
}


.search-container {
    position: relative;
    display: flex;
    align-items: center;
}


.search-input::placeholder {
    color: #7A7A78;
}


.save-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    width: 110px;
    height: 40px;
    background: #990000;
    border-radius: 1px;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.save-button:hover {
    background: #ffffff;
    color: #990000;
    border: 2px solid #990000;
}

.analysis-list {
    width: 100%;
    height: auto;
    flex: none;
}

.genre-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.genre-image {
    width: 244.33px;
    height: 145px;
    position: relative;
}

.genre-image img {
    width: 100%;
    height: 100%;
    background: #D9D9D9;
    object-fit: cover;
}

.genre-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 10px;
    width: 344px;
    height: 145px;
}

.card-title {
    width: 324px;
    height: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    display: flex;
    align-items: center;
}

.keywords {
    width: 324px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #7A7A78;
}

.details-link {
    width: 324px;
    height: 18px;
    font-family: 'Microsoft Sans Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #000000;
}

.probability-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 10px;
    gap: 14px;
    width: 244.33px;
    height: 145px;
}

.probability-input input {
    box-sizing: border-box;
    width: 119px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C0BFBE;
    padding: 0 10px;
    font-family: 'Microsoft Sans Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #7A7A78;
}

.comment-section {
    display: flex;
    width: 244.33px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.comment-input {
    box-sizing: border-box;
    width: 244.33px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C0BFBE;
    padding: 0 15px;
    font-family: 'Microsoft Sans Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #7A7A78;
}

.delete-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.delete-icon img {
    width: 100%;
    height: 100%;
}


.action-buttons {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0px;
    gap: 14px;
    width: 326px;
    height: 50px;
    margin-top: 30px;
    margin-right: auto;
}

.submit-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    gap: 10px;
    width: 164px;
    height: 28px;
    background: #990000;
    color: #FFFFFF;
    border-radius: 1px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    
}

.submit-button:hover {
    background: #ffffff;
    color: #990000;
    border: 1px solid #990000;
}

.delete-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    gap: 10px;
    width: 148px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #D1CFC7;
    border-radius: 1px;
    font-size: 16px;
    cursor: pointer;
}

.delete-button:hover {
    color: #990000;
    border:1px solid #990000;
}