<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявка на определение жанра</title>
    <link href="https://fonts.googleapis.com/css2?family=Georgia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/analysis.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <a href="/genres"><img src="/img/Home.png" alt="home"></a>
    </header>
    <main class="main-content">
        <h1 class="page-title">Составление заявки</h1>
        <div class="search-section">
            <div class="search-label">Текст для анализа</div>
            <div class="search-container">
                <textarea class="search-input scrollable-textarea" placeholder="Заполнить текст" rows="5">{{ .analysis.TextToAnalyse }}</textarea>
            </div>
        </div>
        <div class="analysis-list">
            {{range .analysis.Genres}}
            <div class="genre-item">
                <div class="genre-image">
                    <img src="{{ .Genre.GenreImageURL }}" alt="{{ .Genre.GenreName }}">
                </div>
                <div class="genre-info">
                    <h3 class="card-title">{{ .Genre.GenreName }}</h3>
                    <p class="card-keywords">
                        Маркерные слова: {{ .Genre.GenreKeywords }}
                    </p>
                    <a href="/genre/{{ .Genre.GenreID }}" class="details-link">Подробнее</a>
                </div>
                <div class="probability-section">
                    <p class="price">Вероятность принадлежности текста к этому жанру:</p>
                    <div class="probability-input">
                        <input type="text" placeholder="Поле ответа" value="{{ .ProbabilityPercent }} %">
                    </div>
                </div>
                <div class="comment-section">
                    <input type="text" class="comment-input" placeholder="Ваш комментарий" value="{{ .CommentToRequest }}">
                </div>
                <!--div class="delete-icon"> 
                    <img src="/img/Garbage.png" class="delete-icon" alt="Удалить">               
                </div-->
            </div>
            {{end}}
            <div class="action-buttons">                
                <!--button class="submit-button">Оформить заявку</button-->                
                <form action="/analysis/delete" method="POST" class="delete-button">
                    <input type="hidden" id="analysis-request-id" name="analysis_request_id" value="{{ .analysis.AnalysisRequestID }}">
                    <button class="delete-button">Удалить заявку</button> 
                </form>      
            </div>
        </div>
    </main>
</body>
</html>
