<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали - {{.genre.GenreName}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Georgia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/genre.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <header>
            <a href="/genres"><img src="/img/Home.png" alt="home"></a>           
        </header>
        <footer>
            <a href="/genreanalysisrequest/{{.currentAnalysisID}}" class="cart">
                <img src="/img/RequestIcon.png" alt="Корзина" class="cart-image">
                {{$count := .analysisCount}}
                {{if and $count (gt $count 0)}}
                    <div class="cart-count">{{$count}}</div>
                {{end}}
            </a>
        </footer>
        <div class="genre-adress">
            <a href="/genres" class="adress-text"> Жанры/</a>
            <span class="adress-text"> {{.genre.GenreName}}</span>
        </div>

        
        <main class="genre-main">
            <div class="genre-content">
                <div class="genre-info">
                    <h2 class="genre-subtitle">{{.genre.GenreName}}</h2>

                    <div class="keywords-section">
                        <p class="card-keywords">
                            Маркерные слова: 
                            {{.genre.GenreKeywords}}
                        </p>
                    </div>
                    <!--form action="/analysis/add-genre" method="POST" class="add-to-analysis-form">
                        <input type="hidden" name="genre_id" value="{{.genre.GenreID}}">
                        <input type="hidden" name="comment_to_request" value="">
                        <input type="hidden" name="probability" value="0">
                        <button type="submit" class="add-to-analysis-btn">Добавить в заявку</button>
                    </form-->
                </div>

                <div class="genre-image">
                    <img src="{{.genre.GenreImageURL}}" alt="{{.genre.GenreName}}">
                </div>
            </div>
        </main>
    </div>
</body>
</html>
