<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анализ текста - Определение жанра</title>
    <link href="https://fonts.googleapis.com/css2?family=Georgia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/main.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="/genres" ><img src="/static/img/Home.png" alt="home"></a>            
        </header>
        <main>
            <div class="main-content">
                <h1 class="page-title">Анализ текста</h1>                
                <form action="/genres" method="GET" class="search-section">
                    <div class="search-label">Поиск по жанрам</div>
                    <input type="text" name="query" class="search-input" placeholder="Введите текст для поиска" value="{{ .query}}">
                    <button type="submit" style="display:none">Найти</button>
                </form>                
                <div class="cards-container">
                    {{range .genres}}
                    <div class="card">
                        <div class="card-image">
                            <img src="{{.ImageURL}}" alt="{{.GenreName}}">
                        </div>
                        <div class="card-content">
                            <p class="card-title">{{.GenreName}}</p>
                            <p class="card-keywords">
                                Маркерные слова: 
                                {{.Keywords}}
                            </p>
                            <p class="price">Стоимость: {{printf "%.2f" .GenrePrice}} руб.</p>
                            <a href="/genre/{{.GenreID}}" class="card-details">Подробнее</a>
                            <button type="submit" class="add-to-analysis-btn">Добавить в заявку</button>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </main>

        <footer>
            <a href="/analysis/{{.currentAnalysisID}}" class="cart">
                <img src="/static/img/Bucket.png" alt="Корзина" class="cart-image">
                {{if gt .AnalysisCount 0}}
                <div class="cart-count">{{.AnalysisCount}}</div>
                {{end}}
            </a>
        </footer>
    </div>
</body>
</html>