<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали - {{.genre.GenreName}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Georgia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/genre.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="/genres"><img src="/static/img/Home.png" alt="home"></a>           
        </header>
        <div class="genre-adress">
            <a href="/genres" class="adress-text"> Жанры/</a>
            <span class="adress-text"> {{.genre.GenreName}}</span>
        </div>
        
        <main class="genre-main">
            <div class="genre-content">
                <div class="genre-info">
                    <h2 class="genre-subtitle">{{.genre.GenreName}}</h2>

                    <div class="keywords-section">
                        <p class="card-keywords">
                            Маркерные слова: 
                            {{.genre.Keywords}}
                        </p>
                    </div>
    
                    <p class="price">Стоимость: {{printf "%.2f" $.genre.GenrePrice}} руб.</p>
                
                    <form action="" class="add-to-analysis-form">
                        <!--button type="submit" class="add-to-analysis-btn">
                            Добавить в заявку
                        </button-->
                    </form>
                </div>

                <div class="genre-image">
                    <img src="{{.genre.ImageURL}}" alt="{{.genre.GenreName}}">
                </div>
            </div>
        </main>

        <footer>
            <a href="/analysis/{{.currentAnalysisID}}" class="cart">
                <img src="/static/img/Bucket.png" alt="Корзина" class="cart-image">
                {{if gt .AnalysisCount 0}}
                <div class="cart-count">{{.AnalysisCount}}</div>
                {{end}}
            </a>
        </footer>
    </div>
</body>
</html>
